<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="../../assets/icons/icon-2.png" width="150" height="150" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <!-- LOGIN FORM -->
                <form [formGroup]="registerForm" (submit)="register()">
                    <!-- NAME -->
                    <mat-form-field appearance="standard">
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-icon mat-icon-button matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="utils.hasError(registerForm, 'name', 'required')">Nome obrigatório
                        </mat-error>
                        <mat-error *ngIf="utils.hasError(registerForm, 'name', 'emptyString')">Nome Obrigatório
                        </mat-error>
                    </mat-form-field>

                    <!-- LASTNAME -->
                    <mat-form-field appearance="standard">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput type="text" formControlName="lastName">
                        <mat-icon mat-icon-button matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="utils.hasError(registerForm, 'lastName', 'required')">Sobrenome obrigatório
                        </mat-error>
                        <mat-error *ngIf="utils.hasError(registerForm, 'lastName', 'emptyString')">Sobrenome Obrigatório
                        </mat-error>
                    </mat-form-field>

                    <!-- EMAIL -->
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-icon mat-icon-button matSuffix>email</mat-icon>
                        <mat-error *ngIf="utils.hasError(registerForm, 'email', 'required')">Email obrigatório
                        </mat-error>
                        <mat-error *ngIf="utils.hasError(registerForm, 'email', 'email')">Necessário que seja um email
                            valido</mat-error>
                    </mat-form-field>

                    <!-- PASSWORD -->
                    <mat-form-field appearance="standard">
                        <mat-label>Senha</mat-label>
                        <input minlength="8" matInput type="password" formControlName="password">
                        <mat-icon mat-icon-button matSuffix>security</mat-icon>
                        <mat-error *ngIf="utils.hasError(registerForm, 'password', 'required')">Senha obrigatória
                        </mat-error>
                        <mat-error *ngIf="utils.hasError(registerForm, 'password', 'minlength')">Senha precisar no minimo 8 digitos
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Confirmação de Senha</mat-label>
                        <input matInput type="password" formControlName="passwordConfirmation">
                        <mat-icon mat-icon-button matSuffix>security</mat-icon>
                        <mat-error *ngIf="utils.hasError(registerForm, 'passwordConfirmation', 'notEquivalent')">
                            Passwords do not match
                        </mat-error>
                        <mat-error *ngIf="utils.hasError(registerForm, 'passwordConfirmation', 'required')">Confirmação de senha obrigatória
                        </mat-error>
                    </mat-form-field>
                    <div class="d-flex justify-content-center" *ngIf="failedToRegister">
                        <span class="f-13 text-warning">Email já cadastrado</span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn register_btn btn-primary"
                            [disabled]="!utils.isFormValid(registerForm)"
                            [class.disabled]="!utils.isFormValid(registerForm)">Register</button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Já possui uma conta? <a [routerLink]="['/login']" class="ml-2">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>