<nav class="navbar-light py-2 bg-linear-primary" (window:resize)="onResize($event)" *ngIf="showHeader">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="d-flex align-items-center">
          <div class="d-flex align-items-center" [routerLink]="['/']">
            <img src="../assets/icons/icon.png" width="55" height="55" alt="logo" class="logo pointer" />
            <div class="f-17 mr-4 text-light font-weight-bold pointer">CONCLUSÃO</div>
          </div>
          <div class="d-flex align-items-center" *ngIf="pageWidth > 1000">
            <div class="custom-search-input mr-3">
              <div class="input-group">
                <input type="text" class="form-control text-primary input-lg" placeholder="Buscar" />
                <span class="input-group-btn">
                  <button class="btn btn-info btn-lg" type="button">
                    <mat-icon class="material-icons f-25">search</mat-icon>
                  </button>
                </span>
              </div>
            </div>
            <div class="dropdown-category" (mouseenter)="dropdown.open();" (mouseleave)="dropdown.close();">
              <div ngbDropdown #dropdown="ngbDropdown" class="d-inline-block p-1">
                <button class="btn btn-light btn-sm" id="dropdown-category" ngbDropdownToggle>Categorias</button>
                <div ngbDropdownMenu aria-labelledby="dropdown-category">
                  <button ngbDropdownItem class="f-13"
                    *ngFor="let category of categories; indes as i">{{category.title}}</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-5 d-flex justify-content-end align-items-center">
        <button class="btn-main bg-light text-dark mr-2 font-weight-normal py-2" *ngIf="pageWidth > 1000"
          (click)="onAnnounce()">
          <mat-icon class="material-icons text-dark f-25 mr-1">attach_money</mat-icon>
          <span>Anuncie</span>
        </button>
        <button class="btn-main bg-light text-dark mr-2 font-weight-normal py-2" *ngIf="pageWidth > 1000 && !isLogged"
          [routerLink]="['/login']">
          <mat-icon class="material-icons text-dark f-25 mr-2">account_circle</mat-icon>
          <span>Login</span>
        </button>

        <div ngbDropdown class="d-inline-block" *ngIf="pageWidth > 1000 && isLogged">
          <button class="btn-main p-2 px-4 text-dark bg-light user-config font-weight-normal" ngbDropdownToggle>Bem
            vindo, {{user.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem class="text-dark" [routerLink]="['/conta']">Minha conta</button>
            <button ngbDropdownItem class="text-dark">Configurações</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="text-dark" (click)="logout()">Sair</button>
          </div>
        </div>
        <button class="navbar-toggler text-light" type="button" (click)="toggleNav()" *ngIf="pageWidth <= 1000"
          #SidenavButton>
          &#9776;
        </button>
      </div>
    </div>
  </div>
</nav>


<div #Sidenav id="sideNav" class="sidenav bg-light text-primary">
  <div>
    <ul class="list-group">
      <li class="list-group-item bg-hover-light d-flex align-items-center pointer">
        <img src="../assets/icons/icon.png" width="55" height="55" alt="logo" class="logo pointer" />
        <div class="f-17 mr-4 text-primary font-weight-bold pointer">CONCLUSÃO</div>
      </li>
      <li class="list-group-item bg-hover-light d-flex align-items-center pointer" *ngIf="!isLogged">
        <mat-icon class="material-icons f-25 mr-1 font-weight-bold">person_outline</mat-icon>
        <span> Login </span>
      </li>
      <li class="list-group-item bg-hover-light d-flex align-items-center pointer"
        (click)="isCollapsedUser = !isCollapsedUser" *ngIf="isLogged" [attr.aria-expanded]="!isCollapsedUser">
        <mat-icon class="material-icons f-25 mr-1 font-weight-bold">person_outline</mat-icon>
        <span>Bem vindo, {{user.name}}</span>
      </li>
      <li class="list-group-item d-flex align-items-centerpointer" *ngIf="!isCollapsedUser">
        <div [ngbCollapse]="isCollapsedUser">
          <div class="text-primary p-2 ml-4 side-item-category pointer">Minha Conta </div>
          <div class="text-primary p-2 ml-4 side-item-category pointer">Configurações </div>
          <div class="text-primary p-2 ml-4 side-item-category pointer" (click)="logout()">Sair</div>
        </div>
      </li>
      <li class="list-group-item bg-hover-light d-flex align-items-center pointer">
        <mat-icon class="material-icons f-25 mr-1 font-weight-bold">search</mat-icon>

        <span>Buscar</span>
      </li>
      <li class="list-group-item bg-hover-light d-flex align-items-center pointer"
        (click)="isCollapsedCategories = !isCollapsedCategories" [attr.aria-expanded]="!isCollapsedCategories">
        <mat-icon class="material-icons f-25 mr-1 font-weight-bold">layers</mat-icon>
        <span>Categorias</span>
      </li>
      <li class="list-group-item d-flex align-items-centerpointer" *ngIf="!isCollapsedCategories">
        <div [ngbCollapse]="isCollapsedCategories">
          <div class="text-primary p-2 ml-4 side-item-category pointer" *ngFor="let category of categories; indes as i">
            {{category.title}}</div>
        </div>
      </li>
    </ul>
    <a class="closebtn f-25 pointer" (click)="closeNav()">&times;</a>
  </div>
</div>