@import "~assets/styles/themes.scss";

.card {
    box-shadow: rgba(0, 0, 0, 0.75) 0px 6px 40px -20px;
}

.card-name {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 65px;
    min-height: 65px;
}

.card:hover {
    color: $primary;
    .card-image {
        background-color: $light-blue !important;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary;
    opacity: 0.5;
}
