@import "~assets/styles/themes.scss";

.card-name {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 65px;
    min-height: 65px;
    word-break: break-all;
}

.card:hover {
    color: $primary;
}

::placeholder {
    color: $primary;
    opacity: 0.5;
}
