<div [ngStyle]="{'width.px': data.width}" class="dialog">
  <div [ngClass]="data.type" class="dialog-header text-light p-4 d-flex align-items-center justify-content-between">
    <div class=" d-flex align-items-center">
      <i class="material-icons f-25">{{data.icon}}</i>
      <span class="f-20 font-weight-bold ml-2">
        {{data.title}}
      </span>
    </div>
    <button type="button" class="close d-flex justify-content-end" mat-dialog-close>
      <span class="text-light">&times;</span>
    </button>
  </div>
  <div class="dialog-body  p-4">
    <span class="f-18 d-block mb-1">{{data.message}}</span>
    <span class="f-18 d-block" *ngIf="data.secondMessage">{{data.secondMessage}}</span>
  </div>
  <div class="dialog-bottom d-flex justify-content-end align-items-center pb-4 px-4">
    <div *ngIf="data.showCancel">
      <button type="button" mat-dialog-close class="btn btn-secondary">{{data.cancelText}}</button>
    </div>
    <div *ngIf="data.showConfirmation">
      <button type="button" [ngClass]="data.type" class="btn text-light ml-2 px-5" [mat-dialog-close]="true"
        cdkFocusInitial>{{data.confirmationText}}</button>
    </div>
  </div>
</div>