<!------ Include the above in your HEAD tag ---------->

<div class="container my-5">
    <div class="row">
        <div class="col-sm-5">
            <div class="gallery-wrap">
                <div class="img-big-wrap">
                    <div> <a href="#"><img src="https://via.placeholder.com/450"></a></div>
                </div> <!-- slider-product.// -->
                <div class="img-small-wrap">
                    <div class="item-gallery"> <img src="https://via.placeholder.com/60"> </div>
                    <div class="item-gallery"> <img src="https://via.placeholder.com/60"> </div>
                    <div class="item-gallery"> <img src="https://via.placeholder.com/60"> </div>
                    <div class="item-gallery"> <img src="https://via.placeholder.com/60"> </div>
                </div> <!-- slider-nav.// -->
            </div> <!-- gallery-wrap .end// -->
        </div>
        <div class="col-sm-7">
            <div class="row" style="height: 100%;">
                <div class="col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <h4>Original Version of Some product name</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <span class="price h4 text-primary">
                                <span class="currency">R$</span><span class="num">1299</span>
                            </span>
                            <span>/por dia</span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="font-weight-bold">Descrição</div>
                            <div>
                                <p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12 mb-3">
                            <div>
                                <div class="font-weight-bold">Localidade</div>
                                <div>Russia, USA, and Europe</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12 mb-3">
                            <div>
                                <div class="font-weight-bold">Localidade</div>
                                <div>Russia, USA, and Europe</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="font-weight-bold mb-2">Contatos</div>
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/images/socials/email40.png" width="25" class="mr-2 ml-1" />
                                <span class="f-13">email.email@gmail.com</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="../../../assets/images/socials/phone48.png" width="25" class="ml-1" />
                                <img src="../../../assets/images/socials/whatsapp48.png" width="35" />
                                <span class="f-13">98765-4321</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>