@import "~assets/styles/themes.scss";

.input-size {
  height: 25px !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark-grey;
  font-weight: bolder;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $dark-grey;
  font-weight: bolder;
  opacity: 0.5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $dark-grey;
  font-weight: bolder;
  opacity: 0.5;
}

.product-name {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 85px;
}

.product-card {
  border: solid 1px $light-grey-100;
  &:hover {
    color: $primary;
    .product-image {
      background-color: $light-blue !important;
    }
  }
}

.product-info {
  display: grid;
  grid-template-columns: 1fr;
}