/* Themes */
@import "./assets/styles/themes.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./assets/styles/default.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ICONS */
@import "~material-design-icons/iconfont/material-icons.css";

// Material Icons
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  font-family: 'Roboto Mono', Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  word-spacing: normal;
  background-color: #ffffff;
  height: 100vh;
  transition: 0.5s;
}

.pointer {
  cursor: pointer;
}

*:focus {
  outline: 0;
}

