.btn-radius {
  border-radius: 30px !important;
}
.pointer {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
*:focus {
  outline: 0;
}

// MATERIAL
mat-form-field.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}
