<footer *ngIf="showFooter fix-bottom">
    <div class="footer pt-5" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <h3 class="f-18 font-weight-bold"> Rent Shop </h3>
                    <ul class="ml-0 pl-0 mt-3 f-13">
                        <li> <a href="#" class="pb-2 d-block"> Sobre o Rent Shop </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Novidades </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Mapa do site </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Como surgiu </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 class="f-18 font-weight-bold"> Minha conta </h3>
                    <ul class="ml-0 pl-0 mt-3 f-13">
                        <li> <a href="#" class="pb-2 d-block"> Minha conta </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Anuncios </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Meus alugueis </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Conversas recentes </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 class="f-18 font-weight-bold"> Ajuda & FAQs </h3>
                    <ul class="ml-0 pl-0 mt-3 f-13">
                        <li> <a href="#" class="pb-2 d-block"> Como anunciar  </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Como pesquisar  </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Faço pra alugar </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Mandar sugestão </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 class="f-18 font-weight-bold"> Explore </h3>
                    <ul class="ml-0 pl-0 mt-3 f-13">
                        <li> <a href="#" class="pb-2 d-block"> Página principal </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Anunciar produtos </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Procurar produtos </a> </li>
                        <li> <a href="#" class="pb-2 d-block"> Gerenciar conta </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                    <h3 class="f-18 font-weight-bold"> Mídias </h3>
                    <ul class="social ml-0 pl-0 mt-3 f-13 d-flex justify-content-center">
                        <li><img src="../../../assets/icons/socials/facebook.png" style="border-radius: 20px;" width="40" height="40"></li>
                        <li><img src="../../../assets/icons/socials/instagram.png" style="border-radius: 20px;" width="40" height="40"></li>
                        <li><img src="../../../assets/icons/socials/telegram.webp" style="border-radius: 20px;" width="40" height="40"></li>
                        <li><img src="../../../assets/icons/socials/twitter.png" style="border-radius: 20px;" width="40" height="40"></li>
                        <li><img src="../../../assets/icons/socials/youtube.png" style="border-radius: 20px;" width="40" height="40"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © RentShop 2020. Todos os direitos reservados. </p>
            </div>
        </div>
    </div>


</footer>